@charset "utf-8";
/* CSS Document */
.woodo {
	display: none;
}

.top {
	background-color:#cba135;
	color:#ead7b0;
	width: 13em;
	margin: 1em auto;
	padding:0.05em;
	text-align:center;
	font-weight:700;
	border: 10px solid red;
	text-decoration: underline;
	font-weight: bolder;
}

.hop {
	background-color:#000;
	color:#cc0000;
	width: 13em;
	margin: 1em auto;
	padding:0.05em;
	text-align:center;
	font-weight:700;
}

.items {
	text-align:left;	
	font-size: 0.6em;
	line-height: 1.8em;
	margin:0 5em;
}
.items ul {
	list-style: circle;
	
}
.items ul li a{
	color:#111;
	font-weight:300;
	text-decoration:none;	
}

